<% if current_user.premium? %>
  <%= render partial: "charges/downgrade" %>
<% else %>
  <%= form_tag charges_path do %>
    <h4>Upgrade To Premium</h4>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
                                  data-key="<%= stripe_btn_data[:key] %>"
                                  data-amount="<%= stripe_btn_data[:amount] %>"
                                  data-description="<%= stripe_btn_data[:description] %>"
                                  data-email="<%= current_user.email %>" >
    </script>
  <% end %>
<% end %>
